In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import requests
import json

# Read in CSV files
athlete_events_data = "Resources/athlete_events2.csv"
noc_data = "Resources/noc_regions2.csv"
gdp_data = "Resources/gdp_data.csv"

# Creating data frames
athlete_events_df = pd.read_csv(athlete_events_data)
noc_df = pd.read_csv(noc_data)
gdp_df = pd.read_csv(gdp_data)
#rename 'region' to 'Country'
noc_df = noc_df.rename(columns={'region':"Country"})

# # Combine NOC & athlete data so that the 
olympic_df = pd.merge(athlete_events_df, noc_df, on=["NOC"])
olympic_df = athlete_events_df.merge(noc_df,how='left', left_on=["NOC"], right_on=["NOC"])
olympic_df.head()

#Merge to create final DF
merge_table = olympic_df.merge(gdp_df,how='left', left_on=["Country", "Year"], right_on=["Country", "Year"])
merge_table.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country,notes,GDP PC,Population,Total GDP
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,2731.0,1163363.0,3.180000e+12
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,10654.0,1344394.0,1.430000e+13
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,5411.0,3242.0,1.754246e+10
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,4295.0,2561.0,1.099950e+10
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,23273.0,14761.0,3.440000e+11